{% extends 'base.html' %} {% load static %}
{% block title %}ورود{% endblock %}

{% block content %}

<section class="section">
  <form method="post" action="" role="form" class="col s12">
    {% csrf_token %}
    <div class="columns is-mobile">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
          <div class="card-content">
            <div class="content has-text-centered">
              <label class="label">نام کاربری</label>
              {{ form.username }}
              <label class="label">رمز</label>
              {{ form.password }}
              {% if form.errors %}
              <br /><br />
                <span style="color: red; font-weight: bold">
                  اطلاعات وارد شده صحیح نیست
                </span>
              <br /><br />
              {% endif %}
              <div class="field has-text-centered">
                <p class="control">
                  <input type="hidden" name="next" value="{{ next }}" />
                  <p>
                    <button type="submit" value="login" class="button is-light">
                      ورود
                    </button>
                  </p>
                  <a href="{% url 'signup' %}" class="button is-primary">
                    ساخت حساب
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock %}
