{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>اسم | {% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      />

    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.0.0/dist/font-face.css"
      rel="stylesheet"
      type="text/css"
      />
  </head>

  <body style="font-family: 'Vazir', sans-serif">
		<section class="hero is-medium">
		<style>
			.hero {
				background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0)), url("https://images.unsplash.com/photo-1558613845-e4e90316eb16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
				background-size: cover;
			}
		</style>
      <nav class="navbar is-primary">
        <div class="container">
          <div class="navbar-menu" id="navbarMenuHeroA">
            <div class="navbar-start">
              <a href="{% url 'home' %}" class="navbar-item is-active">
                🏠خانه
              </a>
              <a href="{% url 'write' %}" class="navbar-item"> ✏️نوشتن </a>
              <a href="{% url 'index' %}" class="navbar-item"> 🧭گشتن </a>

              {% if user.is_authenticated %}
              <a href="{% url 'profile' %}" class="navbar-item"> 👤حساب </a>
              {% endif %}

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> بیشتر </a>
                <div class="navbar-dropdown">
                  <a href="#" class="navbar-item"> 🆕تازه ها </a>
                  <a class="navbar-item" href="{% url 'about' %}"> ℹ️درباره </a>
                  <a class="navbar-item" href="{% url 'guidelines' %}">
                    ❓نحوه استفاده
                  </a>
                  <a class="navbar-item" href="{% url 'coc' %}"> 🌐قرارنامه </a>
                  <hr class="navbar-divider" />
                  <a class="navbar-item"> 🗣گزارش مشکل </a>
                </div>
              </div>
            </div>
            <div class="navbar-brand">
              <span class="navbar-item">
                <img
                  class="mt-1"
                  src="https://bulma.io/images/bulma-type-white.png"
                  alt="Logo"
                />
              </span>
              <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="navbar-item">
                  <form action="{% url 'search' %}" method="get">
                    <div class="field has-addons">
                      <p class="control">
                        <input
                          class="input"
                          id="search_box"
                          name="search_box"
                          type="text"
                          placeholder="جستجو"
                          dir="rtl"
                        />
                      </p>
                      <p class="control">
                        <button id="search_submit" class="button">🔍</button>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
              <div class="navbar-item">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button is-danger"> خروج </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
      <br />
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">

                <div class="content">
                  <div class="container has-text-centered">
                    <p class="title is-1 has-text-white"><b> سلام </b></p>
                    <br />
                    {% if user.is_authenticated %}
                      <p class="title is-1 has-text-white" dir="auto">خوش آمدی {{ user.first_name }}</p>
                    {% else %}
                    <a href="{% url 'login' %}" class="button is-light is-large">
                      ورود
                    </a>
                    <a href="{% url 'signup' %}" class="button is-primary is-large">
                      <strong>ساخت حساب</strong>
                    </a>
                    {% endif %}
                  </div>

            </div>
          </div>
        </div>
      </div>
			
      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <div class="content has-text-centered">
				<br /><br />
        <p>⬇️</p>
        <br /><br /><br />
				<i><small>photo by <a href="https://unsplash.com/@fakurian"><u>Fakurian Design</u></a> via Unsplash</small></i>
          <p>
            By
            <a href="#"
              ><b><u>Adel Bordbari</u></b></a
            >. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php"
              ><b><u>MIT</u></b></a
            >. The website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
              <b><u>CC BY NC SA 4.0</u></b> </a
            >.
            <br /><br />
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
